@use '../../variables.scss' as variables;

.cws-root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .cws {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;

    border-inline: 1px solid var(--border-grey);
    box-shadow:
      10px 0 50px var(--shadow-grey),
      -10px 0 50px var(--shadow-grey);

    max-width: min(98%, variables.$maxContentPlusSidebarWidth);

    &.no-sidebar {
      max-width: min(98%, variables.$maxContentWidth);
    }

    .cws-content {
      max-width: variables.$maxContentWidth;
      flex-grow: 1;
    }

    .cws-sidebar {
      width: variables.$maxSidebarWidth;

      padding: 10px;
      padding-block: 25px;
      padding-left: 25px;
    }
  }
}
