@use '../../variables.scss' as variables;

.Root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.FixedWidthContent {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;

  width: min(100%, variables.$maxContentPlusSidebarWidth);

  &.NoSidebar {
    width: min(100%, variables.$maxContentWidth);
  }

  border-inline: 1px solid var(--border-grey);
}

.Tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-block: 5px;
  background-color: var(--app-bg-color);
}

.CWS {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.Sidebar {
  width: variables.$maxSidebarWidth;

  padding: 10px;
  padding-top: 20px;
  padding-inline: min(40px, 2.5%);
}

.Content {
  max-width: variables.$maxContentWidth;
  flex-grow: 1;
}
