.toolbox-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left {
    #sidebar-expander-target .toolbox {
      display: flex;
      flex-direction: row;
      column-gap: 5px;
      padding: 1px 2px;

      margin: 0;
    }
  }
  .right {
    display: flex;
    column-gap: 25px;
    flex-direction: row;

    #component-tools-target .toolbox {
      display: flex;
      flex-direction: row;
      column-gap: 5px;
      padding: 1px 2px;

      margin: 0;
    }
  }
}
