@import '../../variables.scss';

.header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  .toolbar {
    padding-block: 10px;
    flex-grow: 1;
  }

  .nav-and-title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-grow: 1;
    border-bottom: 1px solid var(--border-grey);
    padding-block: 5px;

    .site-title {
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: var(--heading-font);
      cursor: default;
    }
  }

  @media screen and (min-width: $minDualPanelWidth) {
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border-grey);
    padding: 5px 0;

    .toolbar {
      padding-block: 0;
    }

    .nav-and-title {
      flex-direction: row;
      column-gap: 40px;
      border-bottom: 0;

      .site-title {
        padding: 0 2rem 0 0;
      }
    }
  }
}
