.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100dvh;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
  width: 98%;
  min-height: 2rem;
  font-size: 1rem;
  z-index: var(--header-footer-z-index);
  background-color: var(--app-bg-color);
}

main {
  display: flex;
  width: 98%;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
