@import '../../variables.scss';

nav.site-nav,
.sub-menu {
  display: flex;
  background-color: $appBgColor;

  .nav-title {
    font-family: $headingFont;
  }

  a:visited,
  a:hover,
  a:active,
  a:link {
    color: black;
    text-decoration: none;
  }

  a.active {
    text-shadow: 0px 0px 1px black;
  }

  a:focus {
    outline: none; // remove BlueprintJS outline
  }
}

nav.site-nav {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;

  .nav-title {
    font-size: 1.05rem;
    padding: 0.3rem 0;
  }

  @media screen and (min-width: $maxMobileWidth) {
    justify-content: flex-start;
    align-items: center;
  }
}

.sub-menu {
  flex-direction: column;

  .nav-title {
    font-size: 1rem;
    justify-content: left;
    padding: 0.35rem 0.9rem;
  }
}
