/* a button that also includes the select icon */
.Trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;

  user-select: none;
  background-color: canvas;

  height: 2.125rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.0625rem solid var(--grey-30);
  border-radius: var(--input-border-radius);

  &:focus,
  &[data-popup-open],
  &[data-focused] {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

/* the icon to indicate that clicking opens the popup (container) */
/* equivalent to Trigger in the combobox */
.SelectIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: var(--input-height);
  border: none;
  padding: 0;
  border-radius: 0.25rem;
  background: none;
}

/* equivalent to TriggerIcon in combobox */
.SelectIcon {
  width: 1rem;
  height: 1rem;
}

/* positioning the popup */
.Positioner {
  outline: none;
  z-index: 1;
  user-select: none;
}

.Popup {
  background-color: canvas;
  background-clip: padding-box;
  min-width: var(--anchor-width);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-side='none'] {
    transition: none;
    transform: none;
    opacity: 1;
    min-width: calc(var(--anchor-width) + 1rem);
  }

  border-radius: var(--input-border-radius);

  box-shadow:
    0 10px 15px -3px var(--mid-grey),
    0 4px 6px -4px var(--mid-grey);
}

.List {
  position: relative;
  padding-block: 0.25rem;
  overflow-y: auto;
  max-height: min(15rem, var(--available-height));
  scroll-padding-block: 1.5rem;

  border-radius: var(--input-border-radius);
  outline: 1px solid var(--mid-grey);
}

/* also wraps the check-mark selection indicator */
.Item {
  outline: 0;
  line-height: 1rem;
  padding-block: 0.45rem;
  padding-left: 0.625rem;
  padding-right: 1rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 0.75rem 1fr;
  cursor: default;
  user-select: none;

  @media (pointer: coarse) {
    padding-block: 0.625rem;
    font-size: 0.925rem;
  }

  [data-side='none'] & {
    font-size: 1rem;
    padding-right: 3rem;
  }

  &[data-highlighted] {
    z-index: 0;
    position: relative;
  }

  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: var(--input-border-radius);
    background-color: var(--mid-grey);
  }
}

.ItemIndicator {
  grid-column-start: 1;
}

.CheckIcon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.ItemText {
  grid-column-start: 2;
}
