.Root {
  height: 2.125rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  min-width: 2rem;
  border: var(--input-border); /* 0.0625rem */
  border-radius: var(--input-border-radius);

  &:not([data-pressed]) {
    border-color: var(--grey-90);
    background-color: var(--grey-90);
    color: var(--grey-20);

    &:hover {
      border-color: var(--grey-85);
      background-color: var(--grey-85);
    }
  }

  &[data-pressed] {
    color: var(--grey-00);
    border-color: var(--grey-50);
    background-color: canvas;
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}
