.Root {
  &:not([data-pressed]) {
    background: none;
    border: none;
    box-shadow: none;

    &:hover {
      border: none;
      border-radius: 0.25rem;
      background-clip: padding-box;
      background-color: var(--toggle-button-hovered-bg-color);
    }
  }

  &[data-pressed] {
    border-radius: 0.25rem;
    background-color: var(--button-toggled-bg-color);
  }
}
