.Root {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.Fingering {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
