@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');
@import './variables.scss';

:root {
  /* always leave a gap for scrollbars */
  margin-left: calc(100vw - 100%);
  scrollbar-gutter: stable;
  overflow-y: auto;

  background-color: $appBgColor;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
  width: 97%;
  min-height: 2.8rem;
  font-size: 1rem;
}

main {
  display: flex;
  width: 97%;
  margin: 10px 0;
  flex-grow: 1;
  flex-shrink: 1;
}
