@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');

:root {
  --app-bg-color: #eeeeee;
  --light-grey: #f5f5f5;
  --mid-grey: #bfbfbf;
  --dark-grey: #777777;
  --shadow-grey: #e0e0e0;
  --content-bg-color: white;
  --border-grey: lightgrey;

  --fixed-width-font: 'hack', Courier, monospace;
  --heading-font: 'Raleway', sans-serif;
  --transition-timing: 300ms cubic-bezier(0.4, 1, 0.75, 0.9);

  --button-bg-color: #f6f6f6;
  --button-hovered-bg-color: #efefef;
  --button-pressed-bg-color: #e5e5e5;
  --button-toggled-bg-color: darkgrey;
  --button-toggled-text-color: #f9f9f9;

  --focus-outline: 2px solid darkslategray;
  --focus-outline-offset: -1px;

  --input-border: 1px solid darkslategray;
  --input-border-radius: 6px;
  --input-padding: 0.3rem 0.5rem;
  --input-margin: 0;
  --input-height: 2rem;
}
