@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');

:root {
  --grey-00: rgb(0%, 0%, 0%); /* AKA black */
  --grey-05: rgb(5%, 5%, 5%);
  --grey-10: rgb(10%, 10%, 10%);
  --grey-15: rgb(15%, 15%, 15%);
  --grey-20: rgb(20%, 20%, 20%);
  --grey-25: rgb(25%, 25%, 25%);
  --grey-30: rgb(30%, 30%, 30%);
  --grey-35: rgb(35%, 35%, 35%);
  --grey-40: rgb(40%, 40%, 40%);
  --grey-45: rgb(45%, 45%, 45%);
  --grey-50: rgb(50%, 50%, 50%);
  --grey-55: rgb(55%, 55%, 55%);
  --grey-60: rgb(60%, 60%, 60%);
  --grey-65: rgb(65%, 65%, 65%);
  --grey-70: rgb(70%, 70%, 70%);
  --grey-75: rgb(75%, 75%, 75%);
  --grey-80: rgb(80%, 80%, 80%);
  --grey-85: rgb(85%, 85%, 85%);
  --grey-90: rgb(90%, 90%, 90%);
  --grey-95: rgb(95%, 95%, 95%);
  --grey-100: rgb(100%, 100%, 100%); /* AKA white */

  --app-bg-color: var(--grey-95);
  --light-grey: var(--grey-95);
  --mid-grey: var(--grey-75);
  --dark-grey: var(--grey-45);
  --shadow-grey: var(--grey-85);
  --content-bg-color: var(--grey-100);
  --border-grey: var(--grey-85);

  --fixed-width-font: 'hack', Courier, monospace;
  --heading-font: 'Raleway', sans-serif;
  --transition-timing: 300ms cubic-bezier(0.4, 1, 0.75, 0.9);

  --button-bg-color: var(--grey-95);
  --button-hovered-bg-color: var(--grey-90);
  --button-pressed-bg-color: var(--grey-85);
  --button-toggled-bg-color: var(--grey-60);
  --button-toggled-text-color: var(--grey-95);

  --focus-outline: 2px solid var(--grey-30);
  --focus-outline-offset: -1px;

  --input-border: 1px solid var(--grey-30);
  --input-border-radius: 6px;
  --input-padding: 0.3rem 0.5rem;
  --input-margin: 0;
  --input-height: 2rem;
}
