$maxMobileWidth: 600px;
$minDualPanelWidth: 950px;
$maxContentWidth: 925px;
$maxSidebarWidth: 450px;
$maxContentPlusSidebarWidth: 1450px;

$appBgColor: #eeeeee;
$lightGrey: #f5f5f5;
$contentBgColor: white;
$midGrey: #bfbfbf;

$fixedWidthFont: 'hack', Courier, monospace;
$headingFont: 'Raleway', sans-serif;

$tesselateMarginPx: 3;
