$maxMobileWidth: 600px;
$minDualPanelWidth: 920px;
$maxContentWidth: 900px;
$maxSidebarWidth: 400px;
$maxContentPlusSidebarWidth: 1400px;

$appBgColor: #eeeeee;
$lightGrey: #f5f5f5;
$contentBgColor: white;
$midGrey: #bfbfbf;

$fixedWidthFont: 'hack', Courier, monospace;
$headingFont: 'Raleway', sans-serif;

$tesselateMarginPx: 3;
