.markdown-add-page {
  .add-page-form {
    display: flex;
    flex-direction: column;

    button {
      margin-top: 1rem;
    }
  }

  .error {
    margin-top: 1em;
    text-align: center;
    color: red;
  }
}
