.Label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.Switch {
  box-sizing: border-box;
  position: relative;
  display: flex;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 1px;
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  outline: 2px solid;
  outline-offset: -2px;
  background-color: transparent;
  background-image: linear-gradient(to right, var(--dark-grey) 35%, var(--light-grey) 65%);
  background-size: 6.5rem 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition-property: background-position, box-shadow;
  transition-timing-function: cubic-bezier(0.26, 0.75, 0.38, 0.45);
  transition-duration: 125ms;

  box-shadow: var(--grey-80) 0 1.5px 2px inset;
  outline-color: var(--grey-80);

  &:active {
    background-color: canvas;
  }

  &[data-checked] {
    background-position-x: 0%;
    box-shadow: var(--grey-40) 0 1.5px 2px inset;
    outline-color: var(--grey-40);
  }

  &:focus-visible {
    &::before {
      content: '';
      inset: 0;
      position: absolute;
      border-radius: inherit;
      outline: var(--focus-outline);
      outline-offset: 3px;
    }
  }
}

.Thumb {
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 100%;
  background-color: white;
  transition: translate 150ms ease;
  border: 1px solid var(--grey-80);
  outline: 1px solid var(--grey-80);

  &[data-checked] {
    translate: 1rem 0;
    outline-color: var(--grey-40);
    border-color: var(--grey-40);
  }
}
