.ecms-tag-list-input .ecms-tag-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;

  .ecms-tag {
    background-color: lightgrey;
    padding: 2px 6px;
    border-radius: 8px;

    &.dark {
      background-color: grey;
      color: white;
    }
  }
}
