.ecms-tag-list-input .ecms-tag-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;

  .ecms-tag {
    display: flex;
    gap: 4px;
    background-color: lightgrey;
    padding: 2px 4px;
    border-radius: 8px;

    .remove-tag {
      background-color: darkgray;
      border-radius: 8px;
      min-height: 0;
      min-width: 0;
      padding-inline: 1px;

      .icon {
        height: 15px;
        width: 15px;
        padding: 0;
      }
    }
  }
}
