.ecms-text-input {
  display: flex;
  flex-direction: column;
  gap: 2px;

  /* TODO: Remove blueprint hack */
  font-size: 16px;

  .ecms-label {
    font-size: 0.9rem;
  }

  .ecms-input {
    padding: 0.286rem;
    margin: 0;
    border: 1px solid darkslategrey;
    border-radius: 6px;

    &[data-focused] {
      outline: 2px solid darkslategray;
      outline-offset: -1px;
    }
  }
}
