.Root {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  background-color: canvas;

  padding: 0.25rem;
  border-radius: var(--input-border-radius);
  border: var(--input-border);

  &:focus-within {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}
