/*
 * wraps the input and action buttons
 * uses relative/absolute positioning to place buttons _inside_ the input
 */
.InputWrapper {
  position: relative;

  &:has(.Clear) .Input {
    padding-right: calc(0.5rem + 1.5rem * 2);
  }
}

/* first item in the wrapper */
.Input {
  user-select: none;
  background-color: canvas;
  width: 100%;

  height: 2.125rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.0625rem solid var(--grey-30);
  border-radius: var(--input-border-radius);

  padding-right: 2rem;

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

/* second item in the wrapper */
.ActionButtons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.125rem;
  bottom: 0;
  padding: 0;
  right: 0.5rem;

  border: none;
  color: var(--dark-grey);
}

/* within the action buttons div */
.Trigger,
.Clear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 2.125rem;
  border: none;
  padding: 0;
  background: none;
}

.ClearIcon,
.TriggerIcon {
  width: 1rem;
  height: 1rem;
}

/* positioning the popup */
.Positioner {
  outline: none;
  z-index: 1;
  user-select: none;
}

.Popup {
  background-color: canvas;
  background-clip: padding-box;
  min-width: var(--anchor-width);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-side='none'] {
    transition: none;
    transform: none;
    opacity: 1;
    min-width: calc(var(--anchor-width) + 1rem);
  }

  border-radius: var(--input-border-radius);

  box-shadow:
    0 10px 15px -3px var(--mid-grey),
    0 4px 6px -4px var(--mid-grey);

  max-height: 15rem;
}

.List:not(:empty) {
  position: relative;
  padding-block: 0.25rem;
  overflow-y: auto;
  max-height: min(15rem, var(--available-height));
  scroll-padding-block: 1.5rem;

  border-radius: var(--input-border-radius);
  outline: 1px solid var(--mid-grey);
}

/* also wraps the check-mark selection indicator */
.Item {
  outline: 0;
  line-height: 1rem;
  padding-block: 0.45rem;
  padding-left: 0.625rem;
  padding-right: 1rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 0.75rem 1fr;
  cursor: default;
  user-select: none;

  @media (pointer: coarse) {
    padding-block: 0.625rem;
    font-size: 0.925rem;
  }

  [data-side='none'] & {
    font-size: 1rem;
    padding-right: 3rem;
  }

  &[data-highlighted] {
    z-index: 0;
    position: relative;
  }

  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: var(--input-border-radius);
    background-color: var(--mid-grey);
  }
}

.ItemText {
  grid-column-start: 2;
}

.ItemIndicator {
  grid-column-start: 1;
}

.ItemIndicatorIcon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.Empty:not(:empty) {
  color: var(--dark-grey);
}
