@import '../../../variables.scss';

#app .cws-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .cws {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    max-width: $maxContentPlusSidebarWidth;

    &.no-sidebar {
      max-width: $maxContentWidth;
    }

    .cws-content-and-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;

      .cws-content {
        width: 100%;
        flex-grow: 1;
      }

      .cws-sidebar {
        flex-grow: 1;
        padding: 10px;
      }
    }

    @media screen and (min-width: $minDualPanelWidth) {
      .cws-content-and-sidebar {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        border-inline: 1px solid var(--border-grey);
        box-shadow:
          10px 0 50px var(--shadow-grey),
          -10px 0 50px var(--shadow-grey);

        .cws-sidebar {
          padding-block: 25px;
          padding-left: 25px;
          width: 28%;
          max-width: $maxSidebarWidth;
        }

        .cws-content {
          width: 64%;
          max-width: $maxContentWidth;
        }
      }

      &.no-sidebar .cws-content {
        width: 100%;
      }
    }
  }
}
