#app .book-filters,
#portal-container .book-filters {
  height: 100%;
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-family: var(--heading-font);

  .filter-title {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
  }

  .bp5-segmented-control {
    background-color: var(--app-bg-color);
    padding: 0;
  }
  label {
    width: 12rem;
    font-size: 1.05rem;
    font-weight: 400;
  }

  .bp5-form-content,
  .bp5-form-content .bp5-input-group {
    width: 100%;
  }

  .max-length .bp5-input-group {
    width: 4em;
  }

  .author,
  .format {
    button {
      width: 100%;
      background-color: white;
    }
  }

  .filter-action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;

    button {
      margin-top: 0;
      font-size: 1rem;
    }
  }
}
