#app .book-list-item {
  padding: 0;
  margin: 5px;
  cursor: default;

  &:hover {
    background-color: var(--light-grey);
  }

  &.expanded {
    box-shadow: 0 0 0 1px #333333;
  }

  .primary-info {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-weight: 400;
      font-size: 1.3rem;
      margin-bottom: 3px;
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .format {
        font-style: italic;
      }

      .read-icon svg {
        height: 24px;
      }
    }
  }

  .secondary-info {
    padding: 0 10px 5px 10px;

    .cover-desc {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
    }

    .cover {
      object-fit: contain;
      object-position: top;
      width: 200px;
      height: 200px;
    }
    .book-path {
      font-style: italic;
    }

    .description-divider {
      margin: 10px 0;
    }

    .tags {
      padding: 5px 0 10px 0;
      display: flex;
      flex-direction: row;
      column-gap: 5px;
    }
  }
}
