.Root {
  display: flex;
  flex-direction: column;

  button {
    height: 2.1rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    justify-content: left;
    margin: 0.125rem 0.25rem;

    &.Back:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
