.Root {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;

  &.Horizontal {
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
  }

  &.WidthSm {
    width: 7rem;
  }

  &.WidthMd {
    width: 14rem;
  }

  &.WidthLg {
    width: 21rem;
  }

  &.WidthAuto {
    width: auto;
  }

  &.WidthFull {
    width: 100%;
  }

  &[data-disabled] {
    opacity: var(--disabled-opacity);
  }
}

.Label {
  font-size: 0.9rem;
}
