.Root {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &.WidthSm {
    width: 7rem;
  }

  &.WidthMd {
    width: 14rem;
  }

  &.WidthLg {
    width: 21rem;
  }

  &.WidthAuto {
    width: auto;
  }

  &.WidthFull {
    width: 100%;
  }
}

.Label {
  font-size: 0.9rem;
}
