.ecms-input {
  padding: var(--input-padding);
  margin: var(--input-margin);
  border: var(--input-border);
  border-radius: var(--input-border-radius);

  &:focus-visible {
    outline: none;
  }

  &[data-focus-visible] {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}
