.ecms-input {
  padding: 0.286rem;
  margin: 0;
  border: 1px solid darkslategrey;
  border-radius: 6px;

  &:focus-visible {
    outline: none;
  }

  &[data-focus-visible] {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}
