/* required for vertical wrapping when the chips fill the container */
.InputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;

  min-height: 2.125rem;
  border: 0.0625rem solid var(--grey-30);
  padding: 0.25rem;
  border-radius: var(--input-border-radius);

  &:focus-within {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

.Chip {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 0.25rem;

  height: 1.5rem;
  border-radius: 0.375rem;
  padding: 0.25rem;

  border: none;
  outline: 0;

  background-color: var(--grey-90);
  color: var(--grey-10);
  cursor: default;

  &:focus-within {
    background-color: var(--grey-60);
  }

  @media (hover: hover) {
    &[data-highlighted] {
      background-color: var(--grey-60);
    }
  }
}

.ChipText {
  height: 1rem;
  padding: 0.0625rem;
  font-size: 0.875rem;
}

.ChipRemove {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 1rem;
  padding: 0.125rem;

  border-radius: 0.375rem;
  border: none;
  background: none;
  color: inherit;

  @media (hover: hover) {
    &:hover {
      background-color: var(--grey-80);
    }
  }
}

.Input {
  flex: 1;

  height: 1.5rem;
  padding: 0.25rem;

  font-size: 1rem;
  font-family: inherit;

  border-radius: 0.375rem;
  min-width: 3rem;
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}
