.Root {
  height: 2.125rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.0625rem solid var(--grey-30);
  border-radius: var(--input-border-radius);

  &:focus-within {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

.Input {
  border: none;

  &:focus-visible {
    outline: none;
  }
}
