/* required for vertical wrapping when the chips fill the container */
.InputContainer {
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.Chips {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.125rem;
  border: 1px solid var(--grey-90);
  border-radius: 0.375rem;
  padding: 0.25rem 0.375rem;
  width: 20rem;

  &:focus-within {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

.Chip {
  display: flex;
  align-items: center;
  background-color: var(--grey-90);
  color: var(--grey-10);
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.2rem 0.2rem 0.2rem 0.4rem;
  overflow: hidden;
  gap: 0.25rem;
  outline: 0;
  cursor: default;

  &:focus-within {
    background-color: var(--grey-60);
  }

  @media (hover: hover) {
    &[data-highlighted] {
      background-color: var(--grey-60);
    }
  }
}

.ChipButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0.125rem 0.25rem 0.125rem 0.5rem;
  font-size: inherit;
  color: inherit;
  cursor: default;
  flex: 1;
  outline: 0;
}

.ChipRemove {
  border: none;
  background: none;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  border-radius: 0.375rem;

  @media (hover: hover) {
    &:hover {
      background-color: var(--grey-80);
    }
  }
}

.Input {
  flex: 1;
  box-sizing: border-box;
  padding-left: 0.5rem;
  margin: 0;
  border: none;
  height: 2rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  min-width: 3rem;

  &:focus {
    outline: none;
  }
}
