.ecms-list-box {
  .ecms-list-box-item {
    margin: 2px;
    padding: 4px 8px 4px 22px;
    border-radius: 6px;
    outline: none;
    cursor: default;
    color: var(--text-color);
    position: relative;

    &.no-results {
      font-style: italic;
    }

    &[data-selected] {
      font-weight: 600;
      background: none;

      &::before {
        content: '✓';
        content: '✓' / '';
        alt: ' ';
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }

    &[data-focused] {
      background: darkgrey;
      color: white;
    }
  }
}
