.edit-markdown {
  height: 100%;
  border: 1px solid grey;
}

.edit-markdown > div {
  height: 100%;
}

.edit-markdown .cm-line {
  font-family: var(--fixed-width-font);
  font-size: 0.95rem;
  line-height: 1.5;
}
