.Root {
  display: flex;
  flex-direction: column;
}

.Row {
  display: flex;
  justify-content: space-between;
  border: 0;
  padding: 0;

  &:last-child {
    justify-content: left;
  }
}

.Cell {
  height: 100%;
  width: auto;
}
