.Backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: black;
  opacity: 0.2;
  transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);
  touch-action: none;

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.Popup {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 24rem;
  max-width: calc(100vw - 3rem);
  border: 1px solid black;
  border-radius: 0.5rem;
  outline: 1px solid var(grey-80);
  background-color: canvas;
  transition: all 150ms;
  touch-action: none;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 1rem;
  background-color: var(--grey-90);
  padding: 0 0.5rem;
}

.Title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 600;
}

.CloseButton {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--grey-90);
  color: var(--grey-50);
  transition:
    background-color 120ms ease,
    color 120ms ease;

  @media (hover: hover) {
    &:hover {
      color: var(--grey-20);
      background-color: var(--grey-80);
    }
  }

  &:active {
    background-color: var(--grey-60);
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

.Content {
  margin: 0 0 1.5rem;
  padding: 0 0.5rem;
}
