.ecms-combo-box {
  .input-and-label {
    display: flex;
    flex-direction: column;
    gap: 2px;

    /* TODO: Remove blueprint hack */
    font-size: 16px;
  }

  &[data-open] .ecms-input {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  .input-and-button {
    display: flex;
    align-items: center;

    .ecms-button {
      margin-left: -30px;
    }
  }
}
