.video-card.ecms-card {
  width: 100%;
  margin: 0;
  padding: 5px;

  /* TODO: Remove this font-size hack to get around blueprint */
  font-size: 16px;

  transition: var(--transition-timing);
  transition-property: box-shadow;

  .info-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .ec-disclosure-panel {
    .info-panel {
      padding-top: 5px;

      .left {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}
