.Root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.FlexRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.FormButtons {
  display: flex;
  justify-content: space-between;
}
