.edit-video-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .media {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
  }

  .episodes-and-length,
  .watched-and-category,
  .media-block {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
}
