.ecms-disclosure {
  .ecms-disclosure-heading {
    margin-block: 0;
  }

  .ecms-disclosure-trigger {
    font-weight: 400;
    font-size: 1.3rem;
    gap: 8px;
    padding: 5px 0;

    svg {
      width: 1em;
      height: 1em;
      fill: none;
      stroke: grey;
      stroke-width: 1px;
      rotate: 0deg;
      transition: var(--transition-timing);
      transition-property: rotate;
    }
  }

  .ecms-disclosure-panel {
    display: grid;
    grid-template-rows: 0fr;
    transition: var(--transition-timing);
    transition-property: grid-template-rows;

    .grid-child {
      overflow: hidden;
    }
  }

  &.visuallyExpanded {
    .ecms-disclosure-panel {
      grid-template-rows: 1fr;
    }

    .ecms-disclosure-trigger svg {
      rotate: 90deg;
    }
  }
}
