.ecms-popover {
  width: var(--trigger-width);
  overflow-y: auto;

  border: 1px solid darkgray;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  background: white;

  transition:
    transform 200ms,
    opacity 200ms;

  --starting-scale: scale(1);

  &[data-placement='top'] {
    --origin: translateY(8px);
  }

  &[data-placement='bottom'] {
    --origin: translateY(-8px);
  }

  &[data-placement='right'] {
    --origin: translateX(-8px);
  }

  &[data-placement='left'] {
    --origin: translateX(8px);
  }

  &[data-entering],
  &[data-exiting] {
    transform: var(--starting-scale) var(--origin);
    opacity: 0;
  }
}
