.Root {
  background-color: canvas;
  width: 100%;
  margin: 0;
  padding: 5px;

  transition: var(--transition-timing);
  transition-property: box-shadow;

  user-select: none;

  &:hover {
    background-color: var(--grey-975);
  }
}
